/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 75px;
	background-color: #4ab8a0;
	position: fixed;
	height: 100%;
	overflow: auto;
}

/* Sidebar links */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
	background-color: #04aa6d;
	color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
	/* margin-left: 75px; */
	/* padding: 60px 16px; */

	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 1px;
	padding-top: 70px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
	background-color: #04aa6d;
	color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

/* Rounded border */
hr.rounded {
	border-top: 3px solid rgb(230, 228, 228);
	border-radius: 5px;
}

.btn-custom {
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 10px 8px;
	margin: 10px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.8;
	background-color: #bbbbbb;
	border-radius: 48px;
	border: 1px solid transparent;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-rendering: auto;
}

.btn-custom:hover {
	background-color: #a5a5a5;
	outline: none;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #1890ff;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2371bb;
	border-radius: 5px;
}

.app-title {
	width: 220px;
	height: auto;
	font-weight: 600;
	text-align: center;
	background-color: #51d8a7;
	border-radius: 48px;
}
